html, body, main-wrapper {
  background-color: #EAEAEA;
  height: 100%;
}

nav {
  background-color: #E3E1E2;
  line-height: 50px;
  -webkit-box-shadow:none;
  box-shadow: none;
  .brand-logo {
    margin-left: 370px;
  }
  ul {
    li {
    }
  }
  a {
    color: #1BB28F !important;
  }
}

.card {
  background-color: #fff;
  p {
    color: #616161 !important;
  }
  .card-title {
    font-weight: bold !important;
    color: #1BB28F;
  }
  .card-header {
    height: 50px;
    background-color: #1EB18F;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
  }
}

.round-image {
  height: 120px;
  width: 120px;
  border-radius: 60px;
  border: 3px solid #B3B3B3;
}

.round-image-medium {
  height: 60px;
  width: 60px;
  border-radius: 30px;
  border: 2px solid #23D1A3;
}

.light-green-border {
  border: 2px solid #23D1A3;
  padding: 5px;
}

p, ul, h5 {
  color: #616161 !important;
}

span.badge.new  {
  background-color: #1EB18F;
}

#main-panel > div > div.row > div:nth-child(1) > div > div.card-content > center > a {
  box-shadow: none;
  background-color: #E9FDCB;
  color: #1EB18F;
  border: 2px solid #23D1A3;
  text-transform: none;
  font-weight: bold;
}
